@font-face {
  font-family: 'ModernEraLight';
  src: local('ModernEraLight'), url(./assets/fonts/ModernEra-Light.ttf) format('opentype');
}

/* Fonts */

@font-face {
  font-family: 'ModernEraBold';
  src: local('ModernEraBold'), url(./assets/fonts/ModernEra-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'ModernEraReguar';
  src: local('ModernEraReguar'), url(./assets/fonts/ModernEra-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'ModernEraBlack';
  src: local('ModernEraBlack'), url(./assets/fonts/ModernEra-Black.otf) format('opentype');
}

@font-face {
  font-family: 'ModernEraRegular';
  src: local('ModernEraRegular'), url(./assets/fonts/ModernEra-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'ModernEraExtraBold';
  src: local('ModernEraExtraBold'), url(./assets/fonts/ModernEra-ExtraBold.otf) format('opentype');
}

/* Fonts */

@font-face {
  font-family: 'HelveticaNeueBold';
  src: local('HelveticaNeueBold'), url(./assets/fonts/HelveticaNeue-Bold.otf) format('opentype');
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, h1, h2, h3, h4, h5, p, label, input::placeholder, input {
  font-family: "ModernEraReguar" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mobile-container {
  display: none;
}

/* header | footer css */

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background: white;
}

.app-title, .button-panel button {
  font-family: "ModernEraBold" !important;
}

.app-title {
  font-size: 30px;
  /* font-weight: bold; */
}

.app-header {
  padding: 28px;
  max-width: 1920px;
  margin: 0 auto;
  background: white;
  z-index: 5;
}

.button-panel button {
  margin-left: 50px;
  font-size: 25px;
  /* font-weight: bold; */
}

.button-panel button:hover {
  color: #5640FB;
  background-color: white;
}

.button-panel .ms-Button--default {
  border-radius: 2rem;
  border: 3px solid;
  padding: 15px;
  height: 36px;
}

/* .button-panel .ms-Button--default .ms-Button-label {
  font-weight: bold !important;
} */

.app-footer {
  text-align: right;
  padding: 1rem;
  /* background: #5640FB; */
}

.app-footer .ms-Button {
  font-size: 24px !important;
  color: black;
}

.app-footer .ms-Button:hover {
  color: #5640FB;
}

/* home css */

.ms-Button {
  color: black;
}

.home-title {
  font-size: 97px;
  font-weight: bolder;
  color: black;
}

.first-section .home-title, .home-title.mid-section-title {
  font-family: "ModernEraBlack"!important;
}

.questions-form-label, .question-form p, .app-footer .ms-Button {
  font-family: "ModernEraExtraBold"!important;
}

.preview-section img {
  width: 100%;
}

.title-highlight {
  color: #5640FB;
}

/* .app-container {
  font-weight: bold;
} */

.group-image-one {
  width: 1177px;
  height: 534px;
  position: absolute;
  right: 0;
  margin-top: -112px;
  margin-right: 62.4px;
}

.app-container .first-section {
  min-height: 920px;
  margin-top: 256px;
}

.sample-preview {
  width: 1040px;
  height: 821px;
  display: block;
  margin: 0 auto;
  margin-top: 56px;
}

.hint-label {
  font-size: 24px;
  margin-top: 45px;
  font-family: "ModernEraBold"!important;
}

.group-image-two {
  display: block;
  margin: 0 auto;
  margin-top: 128px;
}

.questions-form-label {
  font-size: 97px;
  /* font-weight: 400; */
  margin-top: 122px;
  color: black;
}

.question-form {
  margin-top: 100px !important;
  display: block;
  margin: 0 auto;
}

.question-form p {
  /* font-weight: 400; */
  font-size: 30px;
  margin-bottom: 120px;
  color: black;
}

.preview-section {
  width: 1040px;
  height: 821px;
  border: 2px solid black;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 56px;
  text-align: center;
}

.ms-Pivot {
  margin-top: 21px;
  margin-bottom: 29px;
}

.ms-Pivot .ms-Button {
  font-size: 18px;
  font-weight: bold;
  height: 25px;
  line-height: 2.3;
  margin-right: 20px;
  font-family: "HelveticaNeueBold"!important;
  border-radius: 15px;
  padding-left: 12px;
  padding-right: 12px;
}

.ms-Pivot .ms-Button.is-selected {
  background: #303031;
  color: white;
  border-radius: 15px;
  padding-left: 12px;
  padding-right: 12px;
}

.ms-Pivot .is-selected::before {
  background: none !important;
}

/* Modal css */

.join-waitlist-dialog input {
  font-family: "ModernEraBold" !important;
  color: #B6B6B6;
}

.ms-TextField.is-required .ms-TextField-fieldGroup::before {
  display: none;
}

.ms-TextField input:disabled {
  background: none !important;
}

.dialog-title {
  font-size: 45px;
  /* font-weight: bold; */
  margin-bottom: 50px;
  font-family: "ModernEraBold" !important;
}

.dialog-label {
  font-size: 30px;
  /* font-weight: bold; */
  font-family: "ModernEraBold" !important;
  color: black;
}

.dialog-label a {
  color: black;
}

.join-button {
  font-size: 30px;
  font-family: "ModernEraBold" !important;
  color: #B6B6B6;
}

.ms-Dialog-button--close i {
  font-size: 25px;
  font-weight: bolder;
}

.app-container {
  width: 1389px !important;
}

.join-waitlist {
  display: none;
}

.ms-Modal.is-open .ms-Overlay.ms-Overlay--dark, body.css-0 #root {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  background-color: rgb(255 255 255 / 40%);
  ;
}

.mid-section-title {
  margin-bottom: 63px !important;
  margin-left: 117px;
}

.app-mobile-footer {
  max-width: 1920px;
  margin: 0 auto;
}

@media (min-width: 1921px) {
  .app-container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
  }
  .group-image-one {
    margin-right: auto;
  }
}

/* tablet css */

@media (min-width: 390px) and (max-width: 1450px) {
  .mid-section-title {
    margin-left: auto;
  }
  .app-header .button-panel:first {
    margin-left: 0;
  }
  .app-container {
    width: 877px !important;
    margin: 0 auto;
  }
  .preview-section {
    width: auto;
    max-width: 1040px;
    max-height: 624px;
    overflow: hidden;
  }
  .app-container .first-section {
    min-height: 600px;
    margin-top: 156px;
  }
  .preview-section button {
    font-size: 12px !important;
  }
  .group-image-one, .group-image-two {
    width: 70vh;
    height: auto;
    min-width: 680px;
  }
  .group-image-one {
    margin-top: 0px;
  }
  .home-title {
    font-size: 55px;
    margin-bottom: -40px;
  }
}

@media (min-width: 768px) and (max-width: 905px) {
  .app-header .button-panel button {
    font-size: 20px !important;
  }
  .app-title {
    font-size: 22px !important;
  }
}

/* iPad (horizontal) */

@media (max-width: 1024px) {
  .preview-section {
    max-width: 828px;
    max-height: 670.38px;
  }
  .app-title {
    font-size: 22px;
  }
  .app-header .button-panel button {
    font-size: 18px !important;
  }
  .button-panel .ms-Button--default {
    height: 30px;
    padding: 10px;
  }
  .hint-label {
    font-size: 17px;
  }
  .questions-form-label {
    font-size: 55px;
  }
  .question-form p {
    font-size: 24px;
  }
  .app-container .first-section {
    margin-top: 114px;
  }
}

@media (max-width: 1450px) {
  .first-section {
    position: relative;
  }
}

@media (max-width: 877px) {
  .app-container {
    width: auto!important;
  }
}

/* iPad (vertical) */

@media (max-width: 768px) {
  .group-image-one {
    width: 538px;
    min-width: 538px;
    margin-top: 60px;
  }
  .group-image-two {
    width: 490.96px;
    min-width: 490.96px;
  }
  .preview-section {
    max-width: 657px;
    max-height: 534.73px;
  }
}

@media (min-width: 700px) and (max-width: 768px) {
  .container-fluid.app-container {
    padding-left: unset;
    padding-right: unset;
  }
  .app-container {
    width: 657px !important;
  }
}

@media (max-width: 700px) {
  .app-header.d-flex {
    display: inherit!important;
  }
  .app-header .button-panel {
    text-align: right;
  }
  .app-container {
    width: 100% !important;
    margin-top: 150px!important;
  }
  .button-panel button {
    margin-left: auto;
  }
  .join-waitlist-dialog .ms-Dialog-main {
    max-width: unset!important;
    min-width: 100%!important;
  }
  .join-waitlist-dialog .ms-TextField-fieldGroup {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .group-image-two, .group-image-one {
    width: 45vh!important;
    min-width: auto!important;
  }
}

@media (max-width: 445px) {
  .group-image-two, .group-image-one {
    width: 38vh!important;
    min-width: auto!important;
  }
}

/* mobile css */

@media (orientation: landscape) and (max-width: 847px), (max-width: 390px) {
  .mobile-container {
    display: block;
  }
  .join-waitlist {
    display: block;
  }
  .app-container {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: unset!important;
    padding-right: unset!important;
  }
  .group-image-one, .preview-section, .hint-label, .group-image-two, .app-header-main, .mid-section-title, .app-container, .app-footer {
    display: none !important;
  }
  .join-waitlist {
    margin: 0 auto;
    display: block;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 250px;
    height: 47px;
    width: 169px;
    font-family: "ModernEraBold"!important;
  }
  .join-waitlist .ms-Button-label {
    font-weight: bold;
  }
  .first-section, .first-section .title-highlight {
    background-color: #5640FB;
    color: white !important;
  }
  .app-container .first-section {
    min-height: 920px;
    margin-top: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 220px;
    padding-bottom: 132px;
  }
  .app-footer {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .app-mobile-footer {
    width: 200px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .app-mobile-footer button {
    margin-bottom: 27px;
  }
  .app-mobile-footer button:last-child {
    margin-bottom: 0;
  }
  .question-form {
    max-width: 100% !important;
  }
  .question-form p, .questions-form-label {
    overflow-wrap: break-word;
    display: inline-block;
  }
  .app-container {
    width: auto !important;
  }
  .questions-form-label {
    font-size: 55px;
  }
  .home-title {
    font-size: 40px;
    color: white;
    font-family: "ModernEraBold"!important;
  }
  .bottom-section {
    padding-left: 25px;
    padding-right: 25px;
  }
  .app-footer {
    padding: 0;
  }
  .mobile-container {
    padding: 25px;
    margin-top: 0px;
  }
  .mobile-button-div {
    text-align: center;
  }
  .mobile-button-div button {
    color: #5640FB;
    border: 3px solid #5640FB;
    border-radius: 30px;
    font-size: 18px;
    font-family: "ModernEraExtraBold"!important;
    width: 154px;
    height: 41px;
    margin-top: 41px;
    margin-bottom: 41px;
  }

  .mobile-container .app-title {
    font-size: 17px;
    font-family: "ModernEraBlack"!important;
  }
  .mobile-container .description {
    font-size: 45px;
    font-family: "ModernEraBlack"!important;
  }
  .mobile-container .ms-TextField-fieldGroup {
    width: auto;
    background: #F4F4F4;
    border: 0!important;
    margin: 0px 0px 16px;
    height: 45px;
  }
  .mobile-container form {
    margin-top: 37px;
  }
  .mobile-container form .join-button {
    color: #7C7C7C;
    border: 3px solid #7C7C7C;
    border-radius: 30px;
    font-family: "ModernEraExtraBold"!important;
    font-size: 18px;
    height: 41px;
    width: 154px;
  }
  .join-mobile-footer {
    text-align: center;
    margin-top: 41px;
  }
  .mobile-container .ms-TextField-fieldGroup input, .mobile-container .ms-TextField-fieldGroup input::placeholder {
    color: #7C7C7C;
    font-family: "ModernEraBold"!important;
    font-size: 20px;
  }
}

@media (orientation: landscape) and (max-width: 847px) {
  .join-mobile-footer {
    text-align: left;
    margin-top: 0;
  }
  .mobile-container .ms-TextField-fieldGroup {
    width: 333px;
    margin-bottom: 28px;
  }
}

/* Registration */

.step-button {
  font-size: 23px;
}

.registration-form {
  height: 100vh;
  font-family: "ModernEraBold"!important;
}

.registration-form .form-group {
  font-size: 39px;
}